name: CI Build with Docker (Node.js 23)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

  GitLeaks_Scan:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --exit-code 1
          
