name: CI Build with Docker (Node.js 23)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

  GitLeaks_Scan:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install gitleaks
        run: |
          curl -s https://api.github.com/repos/gitleaks/gitleaks/releases/latest \
          | grep "browser_download_url.*linux-amd64" \
          | cut -d '"' -f 4 \
          | wget -qi -
          mv gitleaks-linux-amd64 gitleaks
          chmod +x gitleaks
          sudo mv gitleaks /usr/local/bin/

      - name: Run gitleaks scan
        run: gitleaks detect --source . --exit-code 1
  Trivy:
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
            # Install Trivy manually
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy
      - name: Run Trivy FS_scan
        run: trivy fs --format table -o fs-report.html .
  

        
        

          
